@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto:wght@300&display=swap');


.quiz{
	padding: 20px;
    background-color: rgba(4, 1, 1, 0.19);
    border-radius: 40px;
	font-family: 'Nunito', sans-serif;
}

ul {
    display: flex; 
    flex-direction: column;
}