@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto:wght@300&display=swap');


form {
	padding: 20px;
    background-color: rgba(4, 1, 1, 0.19);
    border-radius: 40px;
}

.header {
	text-align: center;
	color: maroon;
}
.form-group {

}

.form-group p {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1em;
}
.form-group input {
	
}